aiobotocore==2.26.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiohttp-retry==2.9.1
aioitertools==0.13.0
aiosignal==1.4.0
alembic==1.15.2
altair==4.2.2
altgraph==0.17.4
amqp==5.3.1
aniso8601==10.0.1
annotated-doc==0.0.4
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.9.0
appdirs==1.4.4
argcomplete==3.6.3
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.4.0
asttokens==3.0.1
async-lru==2.3.0
asyncssh==2.22.0
atpublic==7.0.0
attrs==25.3.0
babel==2.18.0
bcrypt==5.0.0
beautifulsoup4==4.13.4
bigtree==1.0.4
billiard==4.2.4
black==25.1.0
bleach==6.3.0
blinker==1.9.0
boto3==1.41.5
botocore==1.41.5
bs4==0.0.2
build==1.2.2.post1
CacheControl==0.14.3
cachetools==6.2.4
celery==5.6.0
certifi==2025.1.31
cffi==2.0.0
cfgv==3.4.0
charset-normalizer==3.4.1
chromadb==1.5.7
cleo==2.1.0
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cloudpickle==3.1.2
colorama==0.4.6
comm==0.2.3
configobj==5.0.9
contourpy==1.3.1
coverage==7.8.1
crashtest==0.4.1
cryptography==46.0.3
cycler==0.12.1
dask==2025.12.0
databricks-sdk==0.76.0
dataclasses-json==0.6.7
debugpy==1.8.20
decorator==5.2.1
defusedxml==0.7.1
Deprecated==1.3.1
deprecation==2.1.0
dictdiffer==0.9.0
dill==0.3.9
diskcache==5.6.3
distlib==0.3.9
distro==1.9.0
dnspython==2.7.0
docker==7.1.0
dominate==2.9.1
dpath==2.2.0
dulwich==0.25.0
durationpy==0.10
dvc==3.65.0
dvc-data==3.17.0
dvc-http==2.32.0
dvc-objects==5.2.0
dvc-render==1.0.2
dvc-s3==3.2.2
dvc-studio-client==0.22.0
dvc-task==0.40.2
dynaconf==3.2.12
email_validator==2.2.0
entrypoints==0.4
evidently==0.7.18
exceptiongroup==1.3.1
executing==2.2.1
Faker==39.0.0
fastapi==0.127.1
fastjsonschema==2.21.1
feast==0.58.0
ffmpeg==1.4
filelock==3.18.0
findpython==0.6.3
flake8==7.2.0
Flask==3.1.0
Flask-Bootstrap==3.3.7.1
flask-cors==6.0.2
Flask-JWT-Extended==4.7.1
Flask-Login==0.6.3
Flask-Migrate==4.1.0
Flask-RESTful==0.3.10
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
flatbuffers==25.12.19
flatten-dict==0.4.2
flufl.lock==8.2.0
fonttools==4.57.0
fqdn==1.5.1
frozenlist==1.8.0
fsspec==2025.12.0
funcy==2.0
gitdb==4.0.12
GitPython==3.1.45
google-auth==2.45.0
google_images_download==2.8.0
googleapis-common-protos==1.74.0
grandalf==0.8
graphene==3.4.3
graphql-core==3.2.7
graphql-relay==3.2.0
great_expectations==1.10.0
greenlet==3.2.1
grpcio==1.80.0
grpcio-tools==1.80.0
gto==1.9.0
gunicorn==23.0.0
h11==0.16.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
httpx-sse==0.4.3
huey==2.5.5
huggingface-hub==0.33.0
hydra-core==1.3.2
identify==2.6.12
idna==3.10
imageio==2.37.0
importlib_metadata==8.7.1
importlib_resources==6.5.2
iniconfig==2.1.0
installer==0.7.0
ipykernel==7.2.0
ipython==9.12.0
ipython_pygments_lexers==1.1.1
isoduration==20.11.0
isort==6.0.1
iterative-telemetry==0.0.10
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jedi==0.19.2
Jinja2==3.1.6
jmespath==1.0.1
joblib==1.4.2
json5==0.14.0
jsonpatch==1.33
jsonpointer==3.1.1
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter-events==0.12.0
jupyter-lsp==2.3.1
jupyter_client==8.8.0
jupyter_core==5.9.1
jupyter_server==2.17.0
jupyter_server_terminals==0.5.4
jupyterlab==4.5.6
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
keyring==25.6.0
kiwisolver==1.4.8
kombu==5.6.1
kubernetes==35.0.0
labelImg==1.8.6
langchain==0.3.28
langchain-chroma==0.2.6
langchain-community==0.3.31
langchain-core==0.3.84
langchain-text-splitters==0.3.11
langsmith==0.7.30
lark==1.3.1
lazy_loader==0.4
litestar==2.19.0
litestar-htmx==0.5.0
locket==1.0.0
lxml==5.3.2
Mako==1.3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.2
marshmallow==3.26.2
matplotlib==3.10.1
matplotlib-inline==0.2.1
mccabe==0.7.0
mdurl==0.1.2
mistune==3.2.0
mlflow==3.8.1
mlflow-skinny==3.8.1
mlflow-tracing==3.8.1
mmh3==5.2.0
# Editable install with no version control (moodplayer==0.1.0)
-e c:\users\nikit\desktop\moodplayer
more-itertools==10.7.0
mpmath==1.3.0
msgpack==1.1.0
msgspec==0.20.0
multidict==6.7.0
multipart==1.3.0
mutagen==1.47.0
mypy==1.15.0
mypy_extensions==1.1.0
nbclient==0.10.4
nbconvert==7.17.1
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.4.2
nltk==3.9.2
nodeenv==1.9.1
notebook_shim==0.2.4
# Editable install with no version control (num1==0.1)
-e c:\users\nikit\desktop\pyweb\lab5
numpy==2.2.4
oauthlib==3.3.1
omegaconf==2.3.0
onnxruntime==1.24.4
opentelemetry-api==1.41.0
opentelemetry-exporter-otlp-proto-common==1.41.0
opentelemetry-exporter-otlp-proto-grpc==1.41.0
opentelemetry-proto==1.41.0
opentelemetry-sdk==1.41.0
opentelemetry-semantic-conventions==0.62b0
orjson==3.11.5
outcome==1.3.0.post0
overrides==7.7.0
packaging==25.0
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.6
partd==1.4.2
pathspec==0.12.1
patsy==1.0.2
pbs-installer==2025.6.10
pefile==2023.2.7
pillow==11.1.0
pipx==1.8.0
pkginfo==1.12.1.2
platformdirs==4.3.8
plotly==5.24.1
pluggy==1.6.0
poetry==2.1.3
poetry-core==2.1.3
polyfactory==3.2.0
pre_commit==4.2.0
# Editable install with no version control (project==0.1)
-e c:\users\nikit\desktop\pyweb\lab8
prometheus_client==0.23.1
prompt_toolkit==3.0.52
propcache==0.4.1
protobuf==6.33.2
psutil==7.2.0
pure_eval==0.2.3
pyarrow==21.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pybase64==1.4.3
pycodestyle==2.13.0
pycparser==2.22
pydantic==2.11.4
pydantic-settings==2.12.0
pydantic_core==2.33.2
pydot==4.0.1
pyflakes==3.3.2
pygame==2.6.1
pygit2==1.19.0
Pygments==2.19.2
pygtrie==2.5.0
pyinstaller==6.13.0
pyinstaller-hooks-contrib==2025.4
PyJWT==2.10.1
pylast==5.5.0
pyparsing==3.2.3
PyPika==0.51.1
pyproject_hooks==1.2.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.0
PyQt6==6.9.0
PyQt6-Qt6==6.9.0
PyQt6_sip==13.10.0
PySocks==1.7.1
pytest==8.3.5
pytest-cov==6.1.1
pytest-flask==1.3.0
pytest-qt==4.4.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-json-logger==4.1.0
python-telegram-bot==22.1
pytz==2025.2
pywin32==311
pywin32-ctypes==0.2.3
pywinpty==3.0.3
PyYAML==6.0.2
pyzmq==27.1.0
qasync==0.27.1
RapidFuzz==3.13.0
referencing==0.37.0
regex==2024.11.6
requests==2.33.1
requests-mock==1.12.1
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==14.2.0
rich-click==1.9.5
rpds-py==0.30.0
rsa==4.9.1
ruamel.yaml==0.18.17
ruamel.yaml.clib==0.2.15
ruff==0.11.10
s3fs==2025.12.0
s3transfer==0.15.0
safetensors==0.5.3
scikit-image==0.25.2
scikit-learn==1.6.1
scipy==1.15.2
scmrepo==3.6.0
selenium==4.31.0
semver==3.0.4
Send2Trash==2.1.0
sentence-transformers==5.4.0
setuptools==78.1.0
shellingham==1.5.4
shortuuid==1.0.13
shtab==1.8.0
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
socksio==1.0.0
sortedcontainers==2.4.0
soupsieve==2.6
SQLAlchemy==2.0.40
sqlparse==0.5.5
sqltrie==0.11.2
stack-data==0.6.3
starlette==0.50.0
statsmodels==0.14.6
sympy==1.13.3
tabulate==0.9.0
telegram==0.0.1
tenacity==8.5.0
terminado==0.18.1
threadpoolctl==3.6.0
tifffile==2025.3.30
tinycss2==1.4.0
tokenizers==0.21.1
toml==0.10.2
tomlkit==0.13.3
toolz==1.1.0
torch==2.7.1
torchaudio==2.7.1
tornado==6.5.5
tqdm==4.67.1
traitlets==5.14.3
transformers==4.52.4
trio==0.29.0
trio-websocket==0.12.2
trove-classifiers==2025.5.9.12
typeguard==4.4.4
typer==0.21.0
typing-inspect==0.9.0
typing-inspection==0.4.0
typing_extensions==4.15.0
tzdata==2025.2
tzlocal==5.3.1
ujson==5.11.0
uri-template==1.3.0
urllib3==2.6.2
userpath==1.9.2
uuid6==2025.0.1
uuid_utils==0.14.1
uvicorn==0.34.0
uvicorn-worker==0.3.0
vine==5.1.0
virtualenv==20.31.2
visitor==0.1.3
voluptuous==0.16.0
waitress==3.0.2
watchdog==6.0.0
watchfiles==1.1.1
wcwidth==0.2.14
webcolors==25.10.0
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
wrapt==1.17.3
wsproto==1.2.0
WTForms==3.2.1
xxhash==3.6.0
yandexcloud==0.385.0
yarl==1.22.0
zc.lockfile==4.0
zipp==3.23.0
zstandard==0.23.0
